@page
@model APPR6312_POE_Part_1.Pages.Admin.DonationViewModel
@{
}

<style>
    .table{
        background-color: white;
    }
</style>

@*𝘊𝘳𝘦𝘢𝘵𝘦 𝘈𝘚𝘗.𝘕𝘌𝘛 𝘊𝘰𝘳𝘦 𝘞𝘦𝘣 𝘈𝘱𝘱𝘭𝘪𝘤𝘢𝘵𝘪𝘰𝘯 𝘞𝘪𝘵𝘩 𝘚𝘘𝘓 𝘚𝘦𝘳𝘷𝘦𝘳 𝘋𝘢𝘵𝘢𝘣𝘢𝘴𝘦 𝘊𝘰𝘯𝘯𝘦𝘤𝘵𝘪𝘰𝘯 𝘢𝘯𝘥 𝘊𝘙𝘜𝘋 𝘖𝘱𝘦𝘳𝘢𝘵𝘪𝘰𝘯𝘴 - Unknown. 2022 YouTube video, added by BoostMyTool
    [Online]. Available at: https://www.youtube.com/watch?v=T-e554Zt3n4 [Accessed 14 September 2022].*@
@*html Code*@
<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
</head>
<body>
    <br />
    <h2>List of Dontions</h2>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>Donation ID</th>
                <th>Company</th>
                <th>Date</th>
                <th>NumItems</th>
                <th>Category</th>
                <th>Disaster</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody style="background-color: #FCD299 ">
            @foreach (var item in Model.publicView)
            {
                <tr>
                    <td>@item.DonationID</td>
                    <td>@item.Company</td>
                    <td>@item.Date</td>
                    <td>@item.NumItems</td>
                    <td>@item.Category</td>
                    <td>@item.Disaster</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <!-- This is the Disaster Info's Table'-->
    <h2>List of Disasters</h2>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>Disaster ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Aid Type</th>
                <th>Description</th>
                <th>Active</th>
                <th>Funds</th>
                <th>Goods</th>
            </tr>
        </thead>
        <tbody style="background-color: #FCD299 ">
            @foreach (var item in Model.DisInfo)
            {
            <tr>
                <td>@item.DisasterID</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Location</td>
                <td>@item.AidType</td>
                <td>@item.Description</td>
                <td>@item.Active</td>
                <td>@item.Funds</td>
                <td>@item.Goods</td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
