@page
@model APPR6312_POE_Part_1.Pages.Admin.NewDisasterModel
@{
}

@*𝘊𝘳𝘦𝘢𝘵𝘦 𝘈𝘚𝘗.𝘕𝘌𝘛 𝘊𝘰𝘳𝘦 𝘞𝘦𝘣 𝘈𝘱𝘱𝘭𝘪𝘤𝘢𝘵𝘪𝘰𝘯 𝘞𝘪𝘵𝘩 𝘚𝘘𝘓 𝘚𝘦𝘳𝘷𝘦𝘳 𝘋𝘢𝘵𝘢𝘣𝘢𝘴𝘦 𝘊𝘰𝘯𝘯𝘦𝘤𝘵𝘪𝘰𝘯 𝘢𝘯𝘥 𝘊𝘙𝘜𝘋 𝘖𝘱𝘦𝘳𝘢𝘵𝘪𝘰𝘯𝘴 - Unknown. 2022 YouTube video, added by BoostMyTool
    [Online]. Available at: https://www.youtube.com/watch?v=T-e554Zt3n4 [Accessed 14 September 2022].*@


<h2>New Disaster</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="POST">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Start Date</label>
        <div class="col-sm-6">
            <input type="datetime" class="form-control" name="StartDate" value="@Model.DisInfo.StartDate" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">End Date</label>
        <div class="col-sm-6">
            <input type="datetime" class="form-control" name="EndDate" value="@Model.DisInfo.EndDate" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Location of Disaster</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Location" value="@Model.DisInfo.Location" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Aid Type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="AidType" value="@Model.DisInfo.AidType" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Description" value="@Model.DisInfo.Description" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close' la></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Admin/AddDisaster" role="button">Cancel</a>
        </div>
    </div>

</form>
